body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
  }
  
  header {
    background-color: #fafafa;
    color: #000000da;
    padding: 1em;
    text-align: center;
  }
  
  nav ul {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
    text-align: center;
    font: 1em full width;
    vertical-align: sub;
    line-height: 60px;
  }
  
  nav li {
    margin-right: 20px;
  }
  
  nav a {
    color: #242323;
    text-decoration: none;
  }
  
  .container {
    width: 80%;
    margin: 0 auto;
    padding: 20px;
    background-color: #128aa8;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    border-radius: 5px;
  }
